{:input-objects
 {:UserCreateInput
  {:fields
   {:email {:type (non-null String)}
    :name {:type String}
    :permission {:type String}
    :password {:type String}}}
  :UserEditInput
  {:fields
   {:email {:type (non-null String)}
    :name {:type String}
    :permission {:type String}}}}
 :objects
 {:RawDeviceLog
  {:fields
   {:id {:type (non-null Int)}
    :data {:type String}
    :created_at {:type String}}}
  :ResponseRawDeviceLogListTotal
  {:fields
   {:list {:type (list :RawDeviceLog)}
    :total {:type Int}}}
  :User
  {:fields
   {:id {:type (non-null Int)}
    :email {:type (non-null String)}
    :name {:type String}
    :permission {:type String}
    :created_at {:type String}
    :updated_at {:type String}}}
  :ResponseUserCreate
  {:fields
   {:errors {:type String}
    :user {:type User}
    :url_password_reset {:type String}}}
  :ResponseUserEdit
  {:fields
   {:errors {:type String}
    :user {:type User}}}
  :ResponseUserListTotal
  {:fields
   {:list {:type (list User)}
    :total {:type Int}}}
  :Query
  {:fields
   {:raw_device_logs
    {:type ResponseRawDeviceLogListTotal
     :args {:limit {:type Int}
            :offset {:type Int}
            :where {:type String}
            :order {:type String}}}
    :users
    {:type ResponseUserListTotal
     :args {:limit {:type Int}
            :offset {:type Int}
            :where {:type String}
            :order {:type String}}}
    :user
    {:type User
     :args {:id {:type Int}}}
    :user_loggedin {:type :User}}}
  :Mutation
  {:fields
   {:userCreate
    {:type ResponseUserCreate
     :args {:user {:type UserCreateInput}
            :requireUrlPasswordReset {:type Boolean}}}
    :userEdit
    {:type ResponseUserEdit
     :args {:id {:type Int}
            :user {:type UserEditInput}
            :requireUrlPasswordReset {:type Boolean}}}
    :userDelete
    {:type Int
     :args {:id {:type Int}}}
    :login
    {:type User
     :args {:email {:type String}
            :password {:type String}}}
    :logout {:type Boolean}}}}}
