{:input-objects
 {:InputUserCreate
  {:fields
   {:email {:type (non-null String)}
    :name {:type String}
    :permission {:type String}
    :password {:type String}}}
  :InputUserUpdate
  {:fields
   {:email {:type String}
    :name {:type String}
    :permission {:type String}}}
  :InputUserTeamCreate
  {:fields
   {:owner_user_id {:type (non-null Int)}
    :name {:type String}
    :memo {:type String}}}
  :InputUserTeamUpdate
  {:fields
   {:owner_user_id {:type Int}
    :name {:type String}
    :memo {:type String}}}
  :InputUserTeamDeviceTypeConfigUpdate
  {:fields
   {:config {:type String}}}
  :InputUserTeamMemberCreate
  {:fields
   {:user_team_id {:type (non-null Int)}
    :user_email {:type String}
    :permission {:type String}}}
  :InputUserTeamMemberUpdate
  {:fields
   {:permission {:type String}}}
  :InputUserTeamDeviceConfigForDeviceCreateUpdate
  {:fields
   {:user_team_id {:type (non-null Int)}
    :config {:type String}}}
  :InputUserTeamDeviceTypeConfigForDeviceTypeCreateUpdate
  {:fields
   {:user_team_id {:type (non-null Int)}
    :config {:type String}}}
  :InputDeviceCreateUpdate
  {:fields
   {:name {:type String}
    :device_type_id {:type Int}
    :user_team_id {:type Int}}}
  :InputDeviceTypeCreateUpdate
  {:fields
   {:name {:type String}
    :manager_user_team_id {:type Int}
    :config_default {:type String}
    :config_format {:type String}}}
  :InputDeviceTypeApiKeyCreate
  {:fields
   {:name {:type String}
    :device_type_id {:type (non-null Int)}
    :permission {:type String}}}
  :InputDeviceTypeApiKeyUpdate
  {:fields
   {:name {:type String}
    :permission {:type String}}}
  :InputWatchScopeCreate
  {:fields
   {:user_team_id {:type (non-null Int)}
    :name {:type String}
    :terms {:type (list InputWatchScopeTermOnWatchScope)}}}
  :InputWatchScopeUpdate
  {:fields
   {:name {:type String}
    :terms {:type (list InputWatchScopeTermOnWatchScope)}}}
  :InputWatchScopeTermCreate
  {:fields
   {:watch_scope_id {:type (non-null Int)}
    :device_id {:type (non-null Int)}
    :datetime_from {:type String}
    :datetime_until {:type String}}}
  :InputWatchScopeTermOnWatchScope
  {:fields
   {:device_id {:type (non-null Int)}
    :datetime_from {:type String}
    :datetime_until {:type String}}}
  :InputWatchScopeTermUpdate
  {:fields
   {:datetime_from {:type String}
    :datetime_until {:type String}}}}
 :objects
 {:DeviceLog
  {:fields
   {:id {:type (non-null Int)}
    :device_id {:type Int}
    :device_name {:type String}
    :data {:type String}
    :created_at {:type String}}}
  :ResponseDeviceLogListTotal
  {:fields
   {:list {:type (list :DeviceLog)}
    :total {:type Int}}}
  :ResponseDeviceLogForDeviceListTotal
  {:fields
   {:list {:type (list :DeviceLog)}
    :total {:type Int}
    :device {:type Device}}}
  :ResponseDeviceLogForDeviceTypeListTotal
  {:fields
   {:list {:type (list :DeviceLog)}
    :total {:type Int}
    :device_type {:type DeviceType}}}
  :User
  {:fields
   {:id {:type (non-null Int)}
    :email {:type (non-null String)}
    :name {:type String}
    :permission {:type String}
    :created_at {:type String}
    :updated_at {:type String}}}
  :UserWithoutPermission
  {:fields
   {:id {:type (non-null Int)}
    :email {:type (non-null String)}
    :name {:type String}
    :created_at {:type String}
    :updated_at {:type String}}}
  :UserTeam
  {:fields
   {:id {:type (non-null Int)}
    :owner_user_id {:type (non-null Int)}
    :name {:type String}
    :memo {:type String}
    :created_at {:type String}
    :updated_at {:type String}}}
  :UserTeamMember
  {:fields
   {:id {:type (non-null Int)}
    :user_team_id {:type (non-null Int)}
    :member_id {:type (non-null Int)}
    :user_team {:type UserTeam}
    :member {:type UserWithoutPermission}
    :permission {:type String}
    :created_at {:type String}
    :updated_at {:type String}}}
  :UserTeamDeviceConfig
  {:fields
   {:id {:type (non-null Int)}
    :user_team_id {:type (non-null Int)}
    :device_id {:type (non-null Int)}
    :config {:type String}
    :created_at {:type String}
    :updated_at {:type String}}}
  :UserTeamDeviceTypeConfig
  {:fields
   {:id {:type Int} ; allow request for empty record
    :user_team {:type UserTeam}
    :user_team_id {:type (non-null Int)}
    :device_type {:type DeviceType}
    :device_type_id {:type (non-null Int)}
    :config {:type String}
    :created_at {:type String}
    :updated_at {:type String}}}
  :ResponseUserLoggedin
  {:fields
   {:user {:type User}
    :errors {:type String}}}
  :ResponseUserTeamListTotal
  {:fields
   {:list {:type (list UserTeam)}
    :total {:type Int}}}
  :ResponseUserTeamForDeviceTypeListTotal
  {:fields
   {:device_type {:type DeviceType}
    :list {:type (list UserTeam)}
    :total {:type Int}}}
  :ResponseUserTeamDeviceTypeConfigForDeviceTypeListTotal
  {:fields
   {:list {:type (list UserTeamDeviceTypeConfig)}
    :total {:type Int}
    :device_type {:type DeviceType}}}
  :ResponseUserTeamMemberForUserTeamListTotal
  {:fields
   {:list {:type (list UserTeamMember)}
    :total {:type Int}
    :user_team {:type UserTeam}}}
  :Device
  {:fields
   {:id {:type (non-null Int)}
    :name {:type String}
    :device_type {:type DeviceType}
    :device_type_id {:type (non-null Int)}
    :user_team {:type UserTeam}
    :user_team_id {:type Int}
    :user_team_device_config {:type UserTeamDeviceConfig}
    :active_watch_scope_terms {:type (list WatchScopeTerm)}
    :created_at {:type String}
    :updated_at {:type String}}}
  :ResponseDeviceListTotal
  {:fields
   {:list {:type (list Device)}
    :total {:type Int}}}
  :DeviceType
  {:fields
   {:id {:type (non-null Int)}
    :manager_user_team {:type UserTeam}
    :manager_user_team_id {:type (non-null Int)}
    :name {:type String}
    :config_default {:type String}
    :config_format {:type String}
    :created_at {:type String}
    :updated_at {:type String}}}
  :ResponseDeviceTypeListTotal
  {:fields
   {:list {:type (list DeviceType)}
    :total {:type Int}}}
  :ResponseDeviceTypeForUserTeamListTotal
  {:fields
   {:user_team {:type UserTeam}
    :list {:type (list DeviceType)}
    :total {:type Int}}}
  :DeviceTypeApiKey
  {:fields
   {:id {:type (non-null Int)}
    :device_type_id {:type (non-null Int)}
    :name {:type String}
    :permission {:type String}
    :created_at {:type String}
    :updated_at {:type String}}}
  :ResponseDeviceTypeApiKeyForDeviceTypeListTotal
  {:fields
   {:list {:type (list DeviceTypeApiKey)}
    :total {:type Int}
    :device_type {:type DeviceType}}}
  :DeviceFile
  {:fields
   {:device_id {:type (non-null Int)}
    :path {:type String}
    :path_thumbnail {:type String}
    :device {:type Device}
    :watch_scopes {:type (list WatchScope)}
    :recorded_at {:type String}
    :created_at {:type String}}}
  :ResponseDeviceFileListTotal
  {:fields
   {:list {:type (list DeviceFile)}
    :total {:type Int}}}
  :ResponseDeviceFileForDeviceListTotal
  {:fields
   {:list {:type (list DeviceFile)}
    :total {:type Int}
    :device {:type Device}}}
  :ResponseDeviceFileForWatchScopeListTotal
  {:fields
   {:list {:type (list DeviceFile)}
    :total {:type Int}
    :watch_scope {:type WatchScope}}}
  :WatchScope
  {:fields
   {:id {:type (non-null Int)}
    :user_team_id {:type (non-null Int)}
    :user_team {:type UserTeam}
    :terms {:type (list WatchScopeTerm)}
    :name {:type String}
    :created_at {:type String}
    :updated_at {:type String}}}
  :ResponseWatchScopeListTotal
  {:fields
   {:list {:type (list WatchScope)}
    :total {:type Int}}}
  :WatchScopeTerm
  {:fields
   {:id {:type (non-null Int)}
    :device {:type Device}
    :device_id {:type (non-null Int)}
    :watch_scope {:type WatchScope}
    :watch_scope_id {:type (non-null Int)}
    :datetime_from {:type String}
    :datetime_until {:type String}
    :created_at {:type String}
    :updated_at {:type String}}}
  :WatchScopeTermOnWatchScope
  {:fields
   {:id {:type Int}
    :device_id {:type (non-null Int)}
    :datetime_from {:type String}
    :datetime_until {:type String}}}
  :ResponseAuthorizationBearer
  {:fields
   {:authorization_bearer {:type String}}}
  :ResponseWatchScopeTermForWatchScopeListTotal
  {:fields
   {:list {:type (list WatchScopeTerm)}
    :total {:type Int}
    :watch_scope {:type WatchScope}}}
  :ResponseDelete
  {:fields
   {:errors {:type String}}}
  :ResponseHashForPasswordResetCreate
  {:fields
   {:hash {:type String}
    :errors {:type String}}}
  :ResponseDeviceCreateUpdate
  {:fields
   {:errors {:type String}
    :device {:type Device}}}
  :ResponseDeviceTypeCreateUpdate
  {:fields
   {:errors {:type String}
    :device_type {:type DeviceType}}}
  :ResponseDeviceTypeApiKeyCreateUpdate
  {:fields
   {:errors {:type String}
    :device_type_api_key {:type DeviceTypeApiKey}}}
  :ResponseWatchScopeCreateUpdate
  {:fields
   {:errors {:type String}
    :watch_scope {:type WatchScope}}}
  :ResponseWatchScopeTermCreateUpdate
  {:fields
   {:errors {:type String}
    :watch_scope_term {:type WatchScopeTerm}}}
  :ResponseMessage
  {:fields
   {:errors {:type String}
    :message {:type String}}}
  :ResponseUserCreate
  {:fields
   {:errors {:type String}
    :user {:type User}
    :url_password_reset {:type String}}}
  :ResponseUserUpdate
  {:fields
   {:errors {:type String}
    :user {:type User}}}
  :ResponseUserListTotal
  {:fields
   {:list {:type (list User)}
    :total {:type Int}}}
  :ResponseUserTeamCreateUpdate
  {:fields
   {:errors {:type String}
    :user_team {:type UserTeam}}}
  :ResponseUserTeamDeviceTypeConfigCreateUpdate
  {:fields
   {:errors {:type String}
    :user_team_device_type_config {:type UserTeamDeviceTypeConfig}}}
  :ResponseUserTeamMemberCreateUpdate
  {:fields
   {:errors {:type String}
    :user_team_member {:type UserTeamMember}}}
  :Query
  {:fields
   {:authorization_bearer_for_device
    {:type ResponseAuthorizationBearer
     :args {:id {:type (non-null Int)}}}
    :authorization_bearer_for_device_type_api_key
    {:type ResponseAuthorizationBearer
     :args {:id {:type (non-null Int)}}}
    :device_logs
    {:type ResponseDeviceLogListTotal
     :args {:limit {:type Int}
            :page {:type Int}
            :where {:type String}
            :order {:type String}}}
    :device_logs_for_device
    {:type ResponseDeviceLogForDeviceListTotal
     :args {:device_id {:type Int}
            :limit {:type Int}
            :page {:type Int}
            :where {:type String}
            :order {:type String}}}
    :device_logs_for_device_type
    {:type ResponseDeviceLogForDeviceTypeListTotal
     :args {:device_type_id {:type Int}
            :limit {:type Int}
            :page {:type Int}
            :where {:type String}
            :order {:type String}}}
    :device_logs_for_watch_scope
    {:type ResponseDeviceLogListTotal
     :args {:watch_scope_id {:type Int}
            :limit {:type Int}
            :page {:type Int}
            :where {:type String}
            :order {:type String}}}
    :devices
    {:type ResponseDeviceListTotal
     :args {:limit {:type Int}
            :page {:type Int}
            :where {:type String}
            :order {:type String}}}
    :devices_for_user_team
    {:type ResponseDeviceListTotal
     :args {:user_team_id {:type Int}
            :limit {:type Int}
            :page {:type Int}
            :where {:type String}
            :order {:type String}}}
    :device
    {:type Device
     :args {:id {:type (non-null Int)}}}
    :device_types
    {:type ResponseDeviceTypeListTotal
     :args {:limit {:type Int}
            :page {:type Int}
            :where {:type String}
            :order {:type String}}}
    :device_types_for_user_team
    {:type ResponseDeviceTypeForUserTeamListTotal
     :args {:user_team_id {:type (non-null Int)}
            :limit {:type Int}
            :page {:type Int}
            :where {:type String}
            :order {:type String}}}
    :device_type
    {:type DeviceType
     :args {:id {:type (non-null Int)}}}
    :device_type_api_keys_for_device_type
    {:type ResponseDeviceTypeApiKeyForDeviceTypeListTotal
     :args {:device_type_id {:type (non-null Int)}
            :limit {:type Int}
            :page {:type Int}
            :where {:type String}
            :order {:type String}}}
    :device_type_api_key_for_device_type
    {:type DeviceTypeApiKey
     :args {:id {:type (non-null Int)}
            :device_type_id {:type (non-null Int)}}}
    :user_team_device_type_configs_for_device_type
    {:type ResponseUserTeamDeviceTypeConfigForDeviceTypeListTotal
     :args {:device_type_id {:type (non-null Int)}
            :limit {:type Int}
            :page {:type Int}
            :where {:type String}
            :order {:type String}}}
    :user_team_device_type_config
    {:type UserTeamDeviceTypeConfig
     :args {:user_team_id {:type (non-null Int)}
            :device_type_id {:type (non-null Int)}}}
    :user_team_device_type_config_to_edit
    {:type UserTeamDeviceTypeConfig
     :args {:user_team_id {:type (non-null Int)}
            :device_type_id {:type (non-null Int)}}}
    :device_files_latest_each_device
    {:type ResponseDeviceFileListTotal
     :args {:limit {:type Int}
            :page {:type Int}
            :where {:type String}
            :order {:type String}}}
    :device_files_for_device
    {:type ResponseDeviceFileForDeviceListTotal
     :args {:device_id {:type (non-null Int)}
            :limit {:type Int}
            :page {:type Int}
            :where {:type String}
            :order {:type String}}}
    :device_files_for_watch_scope
    {:type ResponseDeviceFileForWatchScopeListTotal
     :args {:watch_scope_id {:type (non-null Int)}
            :limit {:type Int}
            :page {:type Int}
            :where {:type String}
            :order {:type String}}}
    :watch_scopes
    {:type ResponseWatchScopeListTotal
     :args {:limit {:type Int}
            :page {:type Int}
            :where {:type String}
            :order {:type String}}}
    :watch_scope
    {:type WatchScope
     :args {:id {:type (non-null Int)}}}
    :watch_scope_terms_for_watch_scope
    {:type ResponseWatchScopeTermForWatchScopeListTotal
     :args {:watch_scope_id {:type (non-null Int)}
            :limit {:type Int}
            :page {:type Int}
            :where {:type String}
            :order {:type String}}}
    :watch_scope_term_for_watch_scope
    {:type WatchScopeTerm
     :args {:id {:type (non-null Int)}
            :watch_scope_id {:type (non-null Int)}}}
    :user_for_resetting_password
    {:type User
     :args {:id {:type (non-null Int)}
            :hash {:type (non-null String)}}}
    :users
    {:type ResponseUserListTotal
     :args {:limit {:type Int}
            :page {:type Int}
            :where {:type String}
            :order {:type String}}}
    :user
    {:type User
     :args {:id {:type (non-null Int)}}}
    :user_team
    {:type UserTeam
     :args {:id {:type (non-null Int)}}}
    :user_teams
    {:type ResponseUserTeamListTotal
     :args {:limit {:type Int}
            :page {:type Int}
            :where {:type String}
            :order {:type String}}}
    :user_teams_for_device_type
    {:type ResponseUserTeamForDeviceTypeListTotal
     :args {:device_type_id {:type (non-null Int)}
            :limit {:type Int}
            :page {:type Int}
            :where {:type String}
            :order {:type String}}}
    :user_team_members_for_user_team
    {:type ResponseUserTeamMemberForUserTeamListTotal
     :args {:user_team_id {:type (non-null Int)}
            :limit {:type Int}
            :page {:type Int}
            :where {:type String}
            :order {:type String}}}
    :user_team_member_for_user_team
    {:type UserTeamMember
     :args {:id {:type (non-null Int)}
            :user_team_id {:type (non-null Int)}}}
    :user_loggedin {:type ResponseUserLoggedin}}}
  :Mutation
  {:fields
   {:user_create
    {:type ResponseUserCreate
     :args {:user {:type InputUserCreate}
            :requireUrlPasswordReset {:type Boolean}}}
    :user_update
    {:type ResponseUserUpdate
     :args {:id {:type (non-null Int)}
            :user {:type InputUserUpdate}
            :requireUrlPasswordReset {:type Boolean}}}
    :user_delete
    {:type ResponseDelete
     :args {:id {:type (non-null Int)}}}
    :user_team_create
    {:type ResponseUserTeamCreateUpdate
     :args {:user_team {:type InputUserTeamCreate}}}
    :profile_update
    {:type ResponseUserUpdate
     :args {:user {:type InputUserUpdate}}}
    :user_team_update
    {:type ResponseUserTeamCreateUpdate
     :args {:id {:type (non-null Int)}
            :user_team {:type InputUserTeamUpdate}}}
    :user_team_delete
    {:type ResponseDelete
     :args {:id {:type (non-null Int)}}}
    :user_team_device_type_config_update
    {:type ResponseUserTeamDeviceTypeConfigCreateUpdate
     :args {:user_team_id {:type (non-null Int)}
            :device_type_id {:type (non-null Int)}
            :user_team_device_type_config {:type InputUserTeamDeviceTypeConfigUpdate}}}
    :user_team_device_type_config_delete
    {:type ResponseDelete
     :args {:user_team_id {:type (non-null Int)}
            :device_type_id {:type (non-null Int)}}}
    :user_team_member_create
    {:type ResponseUserTeamMemberCreateUpdate
     :args {:user_team_member {:type InputUserTeamMemberCreate}}}
    :user_team_member_update
    {:type ResponseUserTeamMemberCreateUpdate
     :args {:id {:type (non-null Int)}
            :user_team_member {:type InputUserTeamMemberUpdate}}}
    :user_team_member_delete
    {:type ResponseDelete
     :args {:id {:type (non-null Int)}}}
    :device_create
    {:type ResponseDeviceCreateUpdate
     :args {:device {:type InputDeviceCreateUpdate}
            :user_team_device_config {:type InputUserTeamDeviceConfigForDeviceCreateUpdate}}}
    :device_update
    {:type ResponseDeviceCreateUpdate
     :args {:id {:type (non-null Int)}
            :device {:type InputDeviceCreateUpdate}
            :user_team_device_config {:type InputUserTeamDeviceConfigForDeviceCreateUpdate}}}
    :device_delete
    {:type ResponseDelete
     :args {:id {:type (non-null Int)}}}
    :device_type_create
    {:type ResponseDeviceTypeCreateUpdate
     :args {:device_type {:type InputDeviceTypeCreateUpdate}}}
    :device_type_update
    {:type ResponseDeviceTypeCreateUpdate
     :args {:id {:type (non-null Int)}
            :device_type {:type InputDeviceTypeCreateUpdate}}}
    :device_type_delete
    {:type ResponseDelete
     :args {:id {:type (non-null Int)}}}
    :device_type_api_key_create
    {:type ResponseDeviceTypeApiKeyCreateUpdate
     :args {:device_type_api_key {:type InputDeviceTypeApiKeyCreate}}}
    :device_type_api_key_update
    {:type ResponseDeviceTypeApiKeyCreateUpdate
     :args {:id {:type (non-null Int)}
            :device_type_api_key {:type InputDeviceTypeApiKeyUpdate}}}
    :device_type_api_key_delete
    {:type ResponseDelete
     :args {:id {:type (non-null Int)}}}
    :watch_scope_create
    {:type ResponseWatchScopeCreateUpdate
     :args {:watch_scope {:type InputWatchScopeCreate}}}
    :watch_scope_update
    {:type ResponseWatchScopeCreateUpdate
     :args {:id {:type (non-null Int)}
            :watch_scope {:type InputWatchScopeUpdate}}}
    :watch_scope_delete
    {:type ResponseDelete
     :args {:id {:type (non-null Int)}}}
    :watch_scope_term_create
    {:type ResponseWatchScopeTermCreateUpdate
     :args {:watch_scope_term {:type InputWatchScopeTermCreate}}}
    :watch_scope_term_update
    {:type ResponseWatchScopeTermCreateUpdate
     :args {:id {:type (non-null Int)}
            :watch_scope_term {:type InputWatchScopeTermUpdate}}}
    :watch_scope_term_delete
    {:type ResponseDelete
     :args {:id {:type (non-null Int)}}}
    :hash_for_resetting_password_create
    {:type ResponseHashForPasswordResetCreate
     :args {:id {:type (non-null Int)}}}
    :password_for_hash_user_reset
    {:type ResponseMessage
     :args {:id {:type (non-null Int)}
            :hash {:type (non-null String)}
            :password {:type (non-null String)}}}
    :password_mine_reset
    {:type ResponseMessage
     :args {:password {:type (non-null String)}
            :password_new {:type (non-null String)}}}
    :login
    {:type User
     :args {:email {:type String}
            :password {:type String}}}
    :logout {:type Boolean}}}}}
