{:input-objects
 {:InputUserCreate
  {:fields
   {:email {:type (non-null String)}
    :name {:type String}
    :permission {:type String}
    :password {:type String}}}
  :InputUserUpdate
  {:fields
   {:email {:type String}
    :name {:type String}
    :permission {:type String}}}
  :InputDeviceCreateUpdate
  {:fields
   {:name {:type String}
    :device_group_id {:type Int}}}
  :InputDeviceGroupCreateUpdate
  {:fields
   {:name {:type String}}}
  :InputDeviceGroupApiKeyCreate
  {:fields
   {:name {:type String}
    :device_group_id {:type (non-null Int)}
    :permission {:type String}}}
  :InputDeviceGroupApiKeyUpdate
  {:fields
   {:name {:type String}
    :permission {:type String}}}
  :InputDeviceWatchGroupCreate
  {:fields
   {:owner_user_id {:type (non-null Int)}
    :name {:type String}
    :memo {:type String}}}
  :InputDeviceWatchGroupUpdate
  {:fields
   {:owner_user_id {:type Int}
    :name {:type String}
    :memo {:type String}}}}
 :objects
 {:RawDeviceLog
  {:fields
   {:id {:type (non-null Int)}
    :device_id {:type Int}
    :device_name {:type String}
    :data {:type String}
    :created_at {:type String}}}
  :ResponseRawDeviceLogListTotal
  {:fields
   {:list {:type (list :RawDeviceLog)}
    :total {:type Int}}}
  :User
  {:fields
   {:id {:type (non-null Int)}
    :email {:type (non-null String)}
    :name {:type String}
    :permission {:type String}
    :created_at {:type String}
    :updated_at {:type String}}}
  :Device
  {:fields
   {:id {:type (non-null Int)}
    :device_group_id {:type (non-null Int)}
    :name {:type String}
    :hash_post {:type String}
    :device_group {:type DeviceGroup}
    :created_at {:type String}
    :updated_at {:type String}}}
  :ResponseDeviceListTotal
  {:fields
   {:list {:type (list Device)}
    :total {:type Int}}}
  :DeviceGroup
  {:fields
   {:id {:type (non-null Int)}
    :user_id {:type (non-null Int)}
    :name {:type String}
    :created_at {:type String}
    :updated_at {:type String}}}
  :ResponseDeviceGroupListTotal
  {:fields
   {:list {:type (list DeviceGroup)}
    :total {:type Int}}}
  :DeviceGroupApiKey
  {:fields
   {:id {:type (non-null Int)}
    :device_group_id {:type (non-null Int)}
    :name {:type String}
    :key_str {:type String}
    :permission {:type String}
    :created_at {:type String}
    :updated_at {:type String}}}
  :ResponseDeviceGroupApiKeyListTotal
  {:fields
   {:list {:type (list DeviceGroupApiKey)}
    :total {:type Int}}}
  :DeviceFile
  {:fields
   {:device_id {:type (non-null Int)}
    :path {:type String}}}
  :ResponseDeviceFileListTotal
  {:fields
   {:list {:type (list DeviceFile)}
    :total {:type Int}}}
  :DeviceWatchGroup
  {:fields
   {:id {:type (non-null Int)}
    :owner_user_id {:type (non-null Int)}
    :name {:type String}
    :memo {:type String}
    :created_at {:type String}
    :updated_at {:type String}}}
  :ResponseDeviceWatchGroupListTotal
  {:fields
   {:list {:type (list DeviceWatchGroup)}
    :total {:type Int}}}
  :ResponseDelete
  {:fields
   {:errors {:type String}}}
  :ResponseDeviceCreateUpdate
  {:fields
   {:errors {:type String}
    :device {:type Device}}}
  :ResponseDeviceGroupCreateUpdate
  {:fields
   {:errors {:type String}
    :device_group {:type DeviceGroup}}}
  :ResponseDeviceGroupApiKeyCreateUpdate
  {:fields
   {:errors {:type String}
    :device_group_api_key {:type DeviceGroupApiKey}}}
  :ResponseDeviceWatchGroupCreateUpdate
  {:fields
   {:errors {:type String}
    :device_watch_group {:type DeviceWatchGroup}}}
  :ResponseUserCreate
  {:fields
   {:errors {:type String}
    :user {:type User}
    :url_password_reset {:type String}}}
  :ResponseUserUpdate
  {:fields
   {:errors {:type String}
    :user {:type User}}}
  :ResponseUserListTotal
  {:fields
   {:list {:type (list User)}
    :total {:type Int}}}
  :Query
  {:fields
   {:raw_device_logs
    {:type ResponseRawDeviceLogListTotal
     :args {:limit {:type Int}
            :page {:type Int}
            :where {:type String}
            :order {:type String}}}
    :raw_device_logs_for_device
    {:type ResponseRawDeviceLogListTotal
     :args {:device_id {:type Int}
            :limit {:type Int}
            :page {:type Int}
            :where {:type String}
            :order {:type String}}}
    :raw_device_logs_for_device_group
    {:type ResponseRawDeviceLogListTotal
     :args {:device_group_id {:type Int}
            :limit {:type Int}
            :page {:type Int}
            :where {:type String}
            :order {:type String}}}
    :devices
    {:type ResponseDeviceListTotal
     :args {:limit {:type Int}
            :page {:type Int}
            :where {:type String}
            :order {:type String}}}
    :device
    {:type Device
     :args {:id {:type (non-null Int)}}}
    :device_groups
    {:type ResponseDeviceGroupListTotal
     :args {:limit {:type Int}
            :page {:type Int}
            :where {:type String}
            :order {:type String}}}
    :device_group
    {:type DeviceGroup
     :args {:id {:type (non-null Int)}}}
    :device_group_api_keys_for_device_group
    {:type ResponseDeviceGroupApiKeyListTotal
     :args {:device_group_id {:type (non-null Int)}
            :limit {:type Int}
            :page {:type Int}
            :where {:type String}
            :order {:type String}}}
    :device_group_api_key_for_device_group
    {:type DeviceGroupApiKey
     :args {:id {:type (non-null Int)}
            :device_group_id {:type (non-null Int)}}}
    :device_files_for_device
    {:type ResponseDeviceFileListTotal
     :args {:device_id {:type (non-null Int)}
            :limit {:type Int}
            :page {:type Int}
            :where {:type String}
            :order {:type String}}}
    :device_watch_groups
    {:type ResponseDeviceWatchGroupListTotal
     :args {:limit {:type Int}
            :page {:type Int}
            :where {:type String}
            :order {:type String}}}
    :device_watch_group
    {:type DeviceWatchGroup
     :args {:id {:type (non-null Int)}}}
    :users
    {:type ResponseUserListTotal
     :args {:limit {:type Int}
            :page {:type Int}
            :where {:type String}
            :order {:type String}}}
    :user
    {:type User
     :args {:id {:type (non-null Int)}}}
    :user_loggedin {:type :User}}}
  :Mutation
  {:fields
   {:user_create
    {:type ResponseUserCreate
     :args {:user {:type InputUserCreate}
            :requireUrlPasswordReset {:type Boolean}}}
    :user_update
    {:type ResponseUserUpdate
     :args {:id {:type (non-null Int)}
            :user {:type InputUserUpdate}
            :requireUrlPasswordReset {:type Boolean}}}
    :user_delete
    {:type ResponseDelete
     :args {:id {:type (non-null Int)}}}
    :device_for_user_create
    {:type ResponseDeviceCreateUpdate
     :args {:device {:type InputDeviceCreateUpdate}}}
    :device_for_user_update
    {:type ResponseDeviceCreateUpdate
     :args {:id {:type (non-null Int)}
            :device {:type InputDeviceCreateUpdate}}}
    :device_for_user_delete
    {:type ResponseDelete
     :args {:id {:type (non-null Int)}}}
    :device_group_for_user_create
    {:type ResponseDeviceGroupCreateUpdate
     :args {:device_group {:type InputDeviceGroupCreateUpdate}}}
    :device_group_for_user_update
    {:type ResponseDeviceGroupCreateUpdate
     :args {:id {:type (non-null Int)}
            :device_group {:type InputDeviceGroupCreateUpdate}}}
    :device_group_for_user_delete
    {:type ResponseDelete
     :args {:id {:type (non-null Int)}}}
    :device_group_api_key_for_user_create
    {:type ResponseDeviceGroupApiKeyCreateUpdate
     :args {:device_group_api_key {:type InputDeviceGroupApiKeyCreate}}}
    :device_group_api_key_for_user_update
    {:type ResponseDeviceGroupApiKeyCreateUpdate
     :args {:id {:type (non-null Int)}
            :device_group_api_key {:type InputDeviceGroupApiKeyUpdate}}}
    :device_group_api_key_for_user_delete
    {:type ResponseDelete
     :args {:id {:type (non-null Int)}}}
    :device_watch_group_create
    {:type ResponseDeviceWatchGroupCreateUpdate
     :args {:device_watch_group {:type InputDeviceWatchGroupCreate}}}
    :device_watch_group_update
    {:type ResponseDeviceWatchGroupCreateUpdate
     :args {:id {:type (non-null Int)}
            :device_watch_group {:type InputDeviceWatchGroupUpdate}}}
    :device_watch_group_delete
    {:type ResponseDelete
     :args {:id {:type (non-null Int)}}}
    :login
    {:type User
     :args {:email {:type String}
            :password {:type String}}}
    :logout {:type Boolean}}}}}
