{:up
 ["DROP TABLE IF EXISTS user;"
  "DROP TABLE IF EXISTS book;"
  "CREATE TABLE IF NOT EXISTS raw_device_log(
   id SERIAL PRIMARY KEY NOT NULL UNIQUE,
   data JSON NOT NULL,
   created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP);"]
 :down []}
