{:up
 ["CREATE TABLE device_group_api_key(
   id SERIAL NOT NULL PRIMARY KEY UNIQUE,
   device_group_id BIGINT UNSIGNED NOT NULL,
   CONSTRAINT fk_device_group_api_key_device_group FOREIGN KEY(device_group_id) REFERENCES device_group(id),
   name CHAR(255),
   key_str CHAR(255),
   UNIQUE INDEX(key_str, device_group_id),
   permission JSON NOT NULL,
   updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
   created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP);"]
 :down
 ["DROP TABLE device_group_api_key;"]}
