{:up
 ["CREATE TABLE device_file(
   id SERIAL NOT NULL PRIMARY KEY UNIQUE,
   device_id BIGINT UNSIGNED NOT NULL,
   CONSTRAINT fk_device_file__device_id FOREIGN KEY(device_id) REFERENCES device(id),
   name TEXT,
   datetime_dir CHAR(255),
   recorded_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
   updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
   created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP);"]
 :down
 ["DROP TABLE device_file;"]}
