{:main front.core
 :output-to "out-cljs/index.js"
 :output-dir "out-cljs"
 ;:asset-path "out"
 ;:deps-cmd "yarn"
 ;:install-deps true
 :target :bundle
 :watch-fn (fn [] (println "Updated build"))
 :bundle-cmd {:none ["npx" "webpack" "./out-cljs/index.js" "-o" "out-webpack" "--mode=development"]
              :default ["npx" "webpack" "./out-cljs/index.js" "-o" "out-webpack"]}
 #_:foreign-libs
 #_[#{:file "out/bundje.js",
      :provides ["react" "react-dom" "create-react-class" "react-dom/server"],
      :global-exports {react React
                       react-dom ReactDOM
                       create-react-class createReactClass
                       react-dom/server ReactDOMServer}}]
 :closure-defines {cljs.core/*global* "window"}} ;; needed for advanced
