{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/clojurescript {:mvn/version "1.11.132"}
        org.slf4j/slf4j-simple {:mvn/version "2.0.13"}
        com.google.javascript/closure-compiler-unshaded {:mvn/version "v20230802"}
        com.andrewmcveigh/cljs-time {:mvn/version "0.5.2"}
        thheller/shadow-cljs {:mvn/version "2.27.5"}
        reagent/reagent {:mvn/version "1.2.0" :exclusions [cljsjs/react cljsjs/react-dom]}
        re-graph/re-graph {:mvn/version "0.1.17"}}
 :paths ["src" "resources" "target" "node_modules"]
 :aliases
 {:build
  {:main-opts ["-m" "shadow.cljs.devtools.cli" "release" "frontend"]}
  :dev
  {:extra-deps {com.bhauman/figwheel-main {:mvn/version "0.2.16"}
                com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}}
   :main-opts ["-m" "shadow.cljs.devtools.cli" "watch" "frontend"]}}}
