{:deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/clojurescript {:mvn/version "1.11.4"}
        ;; cljsjs/react {:mvn/version "17.0.2-0"}
        ;; cljsjs/react-dom {:mvn/version "17.0.2-0"}
        ;; cljs-time/cljs-time {:mvn/version "0.1.0"}
        cljsjs/chartjs {:mvn/version "3.9.1-0"}
        io.github.cljsjs/chartjs-adapter-date-fns {:mvn/version "2.0.0-0"}
        cljsjs/date-fns {:mvn/version "2.30.0-0"}
        com.andrewmcveigh/cljs-time {:mvn/version "0.5.2"}
        ;; com.andrewmcveigh/cljs-time {:mvn/version "0.5.2"}
        reagent/reagent {:mvn/version "1.1.0" :exclusions [cljsjs/react cljsjs/react-dom]}
        re-graph/re-graph {:mvn/version "0.1.17"}}
 :paths ["src" "resources" "target" "node_modules"]
 :aliases
 {:build
  {:main-opts ["-m" "cljs.main" "-co" "build.edn" "-O" "advanced" "-v" "-c"]}
  :dev
  {:extra-deps {com.bhauman/figwheel-main {:mvn/version "0.2.16"}
                com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}}
   :main-opts ["-m" "figwheel.main" "-b" "figwheel-dev"]}}}
