^{:watch-dirs ["src"]
  :auto-bundle :webpack
  #_:css-dirs #_["resources/public/css"]}
{:main front.core
;;  :output-to "out-figwheel/main.js"
;;  :output-dir "out-figwheel"
;;  :asset-path "out-figwheel"
;;  :final-output-dir "./out-webpack"
;;  :final-output-filename "main.js"
;;  :target :bundle
 :bundle-cmd {:none ["npx" "webpack"
                     "--entry" "./target/public/cljs-out/figwheel-dev/main.js"
                     ;; "--entry" "./out-figwheel/main.js"
                     "--output-path" "./out-webpack"
                     "--output-filename" "main.js"
                     "--mode=development"]
              :default ["npx" "webpack" "./out-cljs/index.js" "-o" "out-webpack"]}
 :aot-cache false
 :closure-defines
 #:figwheel.repl{connect-url
                 "ws://localhost:9550/figwheel-connect?fwprocess=c8712b&fwbuild=dev",
                 print-output "repl,console"}}
